<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="slackKey" value="xxx"/>
    <add key="ravenUrl" value="http://localhost:8080"/>
    <add key="ravenDbName" value="pb0t"/>
  </appSettings>
</configuration>